{% extends "pswebsite/with-forms.html" %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <section>
            <div class="container 50%">
                <h2>Login</h2>
                {% include "pswebsite/forms/login_form.html" %}
            </div>
        </section>
        <hr />
        <section>
            <div class="container 50%">
                <h2>New to PosterScores?</h2>
                <a href="{% url 'pswebsite:register' %}">
                    <input value="Register new User" class="special big" type="submit">
                </a>
            </div>
        </section>
    </div>
</section>
{% endblock %}

{% block inlineJS %}
<script>
    $(".parsley-form").parsley();
</script>
{% endblock %}
