{% extends "pswebsite/layout.html" %}

{% load staticfiles %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <h2>{{ poster.name }}</h2>
            <p>{{ poster.tagline }}</p>
        </header>

        <div class="row">
            <!--
            <div class="6u">
                <h3>Purchase form will go here</h3>
            </div>
            -->
            <div class="6u -6u">
                <span class="">Caption for poster</span>
                {% for img in poster.posterimage_set.all %}
                    <a href="#" class="image fit"><img src="{{ img.url }}" alt="" /></a>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <p>{{ poster.description }}</p>
            <p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
            <p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet blandit adipiscing arcu ante.</p>

        </div>
    </div>
</section>
{% endblock %}
