{% extends "pswebsite/layout.html" %}
{% block content %}

<div class="container">
    <section id="main" class="wrapper">
        <header class="major">
            <h2>{{ request.user.email }}</h2>
            <p>This is your user page</p>
        </header>

        <hr>

        <h2>Information</h2>
        <ul>
            <li>You registered on {{ request.user.date_joined|date:"D d M Y" }} {{ request.user.date_joined|time:"H:i" }}.</li>
        </ul>
        <p>TODO: Add more details here</p>
    </section>

    <section>
        <h2>Purchases</h2>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item 1</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                    <tr>
                        <td>Item 2</td>
                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                        <td>19.99</td>
                    </tr>
                    <tr>
                        <td>Item 3</td>
                        <td> Morbi faucibus arcu accumsan lorem.</td>
                        <td>29.99</td>
                    </tr>
                    <tr>
                        <td>Item 4</td>
                        <td>Vitae integer tempus condimentum.</td>
                        <td>19.99</td>
                    </tr>
                    <tr>
                        <td>Item 5</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>100.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>
{% endblock %}
